{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}
<section>
    <h2>Bienvenido al Sistema Electoral</h2>
    <p>Aquí puedes ver las diferentes opciones.</p>
    <div class="options-buttons">
        <a href="{{ url_for('eleccion') }}" class="btn option-btn">Elección</a>
        <a href="{{ url_for('registrar_candidato_view') }}" class="btn option-btn">Registrar Candidato</a>
        <a href="{{ url_for('registrar_elector_view') }}" class="btn option-btn">Registrar Elector</a>
        <a href="{{ url_for('registro_electoral') }}" class="btn option-btn">Registro Electoral</a>
        <a href="{{ url_for('resultados') }}" class="btn option-btn">Resultados</a>
        <a href="{{ url_for('modificar_perfil') }}" class="btn option-btn">Modificar Perfil</a>
        <a href="{{ url_for('administrador_eleccion') }}" class="btn option-btn">Administrador Elección</a>
    </div>
    <a href="{{ url_for('login') }}" class="btn btn-red">Cerrar sesión</a>
</section>
{% endblock %}
